<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Book Demo Application</title>
</h:head>
<h:body>
	<h1 align="center">
		<ui:insert name="title">Default Title</ui:insert>		
	</h1>
	<ui:insert name="bodyContent">Default Body Content</ui:insert>
</h:body>
</html>