<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/templates/page-template.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">#{localization['book.add.page.title']}</ui:define>

	<ui:define name="bodyContent">
		<h:form>
			<p:panel id="panel" header="#{localization['book.add.form.header']}">
				<p:messages />
				<h:panelGrid columns="3" cellpadding="5">
					<p:outputLabel for="book-author"
						value="#{localization['book.columns.author']}:" />
					<p:inputText value="#{addBookBean.author}" required="true"
						requiredMessage="#{localization['book.add.form.author.required']}"
						validatorMessage="#{localization['book.add.form.author.valid']}"
						id="book-author">
						<f:validateRegex pattern="(A.* .*)|(.* A.*)" />
					</p:inputText>
					<p:message for="book-author" id="msg-book-author" display="icon" />

					<p:outputLabel for="book-title"
						value="#{localization['book.columns.title']}:" />
					<p:inputText value="#{addBookBean.title}" required="true"
						requiredMessage="#{localization['book.add.form.title.required']}"
						id="book-title" />
					<p:message for="book-title" id="msg-book-title" display="icon" />

					<p:outputLabel for="book-isbn"
						value="#{localization['book.columns.isbn']}:" />
					<p:inputText value="#{addBookBean.ISBN}" required="true"
						requiredMessage="#{localization['book.add.form.isbn.required']}"
						id="book-isbn" />
					<p:message for="book-isbn" id="msg-book-isbn" display="icon" />
				</h:panelGrid>
				<p:commandButton value="#{localization['book.add.form.button.add']}"
					action="#{addBookBean.addBook}" update="panel" />
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>