<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/templates/page-template.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">#{localization['book.list.page.title']}</ui:define>

	<ui:define name="bodyContent">
		<p:dataTable value="#{listBooksBean.books}" var="book">
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{localization['book.columns.title']}"></h:outputText>
				</f:facet>
				<h:outputText value="#{book.title}"></h:outputText>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{localization['book.columns.author']}"></h:outputText>
				</f:facet>
				<h:outputText value="#{book.author}"></h:outputText>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{localization['book.columns.isbn']}"></h:outputText>
				</f:facet>
				<h:outputText value="#{book.ISBN}"></h:outputText>
			</p:column>
		</p:dataTable>
		<p:link value="#{localization['book.list.link.add']}"
			outcome="#{navigator.addBook}" />
	</ui:define>
</ui:composition>